transformers>=4.28.0 # Update transformers to at least version 4.28.0
bitsandbytes==0.43.1
accelerate==0.31.0
langchain==0.2.5
langchainhub==0.1.20
langchain-chroma==0.1.1
langchain-community==0.2.5
langchain-openai==0.1.9
langchain_huggingface==0.0.3
# !pip install -q chainlit==1.1.304
# !pip install -q python-dotenv==1.0.1
pypdf==4.2.0
localtunnel
numpy==1.24.4